#rootPane {
    -fx-background-color: #262b2b;
}

.split-pane {
    -fx-background-color: #262b2b;
}


.list-view .list-cell:even{
    -fx-background-color: #657599;
    -fx-text-fill: #FFFFFF;
}
.list-view .list-cell:odd{
    -fx-background-color: #657599;
    -fx-text-fill: #FFFFFF;
}
.separator {
    -fx-background-color: #272d3f;
    -fx-border-color: null;
}

.text-field {
    -fx-border-color: #657599;
    -fx-background-color: #657599;
    -fx-text-fill: #FFFFFF;
}

.password-field {
    -fx-border-color: #657599;
    -fx-background-color: #657599;
    -fx-text-fill: #FFFFFF;
}

.button {
    -fx-background-color: #657599; /* Green background color */
    -fx-text-fill: #FFFFFF;
}
.label {
    -fx-text-fill: #ffffff;
}
.menu-button {
    -fx-background-color: #657599;
    -fx-border-color: #657599;
    -fx-text-fill: #FFFFFF;
}
.menu-item {
    -fx-background-color: #657599;
    -fx-border-color: #657599;
    -fx-text-fill: #FFFFFF;
}
